<h1>Editar Detalle</h1>

<%= render 'form', detalle: @detalle %>

<%= link_to 'Ver', @detalle, :class => "btn btn-outline-warnig btn-sm" %> |
<%= link_to 'Volver', detalles_path, :class => "btn btn-outline-danger btn-sm" %>
