<h1>Editing Multum</h1>

<%= render 'form', multum: @multum %>

<%= link_to 'Ver', @multum, :class => "btn btn-outline-warnig btn-sm" %> |
<%= link_to 'Volver', multa_path, :class => "btn btn-outline-danger btn-sm" %>
