<h1>Editar Prestamo</h1>

<%= render 'form', prestamo: @prestamo %>

<%= link_to 'Ver', @prestamo, :class => "btn btn-outline-warnig btn-sm" %> |
<%= link_to 'Volver', prestamos_path, :class => "btn btn-outline-danger btn-sm" %>
