<h1>Editar Libro</h1>

<%= render 'form', libro: @libro %>

<%= link_to 'Ver', @libro, :class => "btn btn-outline-warnig btn-sm" %> |
<%= link_to 'Volver', libros_path, :class => "btn btn-outline-danger btn-sm" %>
